  <div id="contacts">
    <% @contacts.each do |contact| %>
    <span class="contact" data-avatar="<%= contact[:avatar] %>" data-name="<%= contact[:name] %>" data-phone="<%= contact[:phone] %>" data-desc="<%= contact[:desc] %>" style="background: url(<%= contact[:avatar] %>) no-repeat;">
      <img class="iphone-no-retina" src="<%= contact[:avatar] %>"></img>
      <span class="name"><%= contact[:name] %></span>
    </span>
  <% end %>
  </div>

  <div class="modal hide popup animated bounceIn" id="myModal">
    <div class="row-fluid">
      <div style="margin-left:30px">
        <img id="modal-avatar" class="thumbnail" style="" width="85%" src="http://www.gravatar.com/avatar/48986aabbdbcdeacdbc3a6dc2945a9ff.png">
        <div class="caption">
          <h3 id="modal-name" style="margin-top:5px;margin-bottom:2px" >Fred Liang</h3>
          <p id="modal-desc" style="margin-right: 25px">Fred is a nice person, if you have anything trouble, please come to him. If you are a girl, that is better!</p>
          <p>
            <a id="modal-call" href="tel:+8612345678" style="margin-right:2px" class="btn btn-info">&nbsp;&nbsp;&nbsp;Call&nbsp;&nbsp;&nbsp;</a>
            <a id="modal-sms" href="sms:+8612345678" class="btn btn-success">Message</a>
          </p>
        </div>
      </div>
    </div>
  </div>
